

{% extends "poc_demo/base.html" %}

{% block poc_content %}  
  {% load static %}

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">


            <div class="card">
                <!-- Form control repeater section start -->
                <section id="form-control-repeater">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="tel-repeater">Add Users</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <!-- <li><a data-action="close"><i class="ft-x"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
    

<form class="row g-3 cool-form" method="post">
  {% csrf_token %}

  <div class="col-md-6">
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="firstName" name="first_name" placeholder="First Name" required>
      <label for="firstName">First Name</label>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Last Name" required>
      <label for="lastName">Last Name</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating mb-2">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" onkeyup="copyText()">
      <label for="email">Email</label>
    </div>
  </div>


  <div class="col-md-12" hidden>
    <div class="form-floating mb-2">
      <input type="email" class="form-control" id="username" name="username" placeholder="Username" >
      <label for="username">Username</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating mb-2">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password">Password</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating mb-2">
      <select name="usertype" class="form-control" id="userType">
        <option value="none" selected="" disabled></option>
        {% for role in roles %}
          {% if role != 'Admin' %}
            <option value="{{ role }}">{{ role }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <label for="userType">User Type</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating mb-2">
      <select name="Belongs_to" class="form-control" id="user_list">
        <option value="none" selected="" disabled></option>
        </select>
      <label for="user_list">Belongs To</label>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating mb-2">
      <select name="status" class="form-control">
        {% for id, sts in status %}
          <option value="{{ id }}">{{ sts }}</option>
        {% endfor %}
      </select>
      <label for="status">Status</label>
    </div>
  </div>

  <div class="form-actions col-12 mb-2">
    <div class="text-right">
      <button type="submit" class="btn btn-primary" onclick="return confirm('Confirmation for add User?')">Submit <i class="ft-thumbs-up position-right"></i></button>
      <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
    </div>
  </div>
</form>

    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>

        
                </div>

        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    {%endblock %}

    
    {% block js %}  

    <script>
        function copyText() {
          var sourceText = document.getElementById("email").value;
          document.getElementById("username").value = sourceText;
        }

      const UserTypefor = document.getElementById('userType');
      const user_opion = document.getElementById('user_list');
  
      UserTypefor.addEventListener('change', () => {
        const selectedUser = UserTypefor.value;
        fetch(`/get_data_for/${selectedUser}`)
          .then(response => response.json())
          .then(data => {
            let text =''
           
            // console.log(data['list_of'].length);
            const objectLength = Object.keys(data['list_of']).length;
           if(objectLength > 0){
            for(datas in data['list_of'])
            {
              console.log(data['list_of'][datas]);
              text = text + "<option value = '"+datas+"'>"+ data['list_of'][datas] +"</option>";
            }
           }
          else{
              text = text + "<option value = 'Self'>Self </option>";
          }
            if (data['error']){
              user_opion.innerHTML = data['error']; 
            }
            user_opion.innerHTML = text;
          });
      });
    </script>
    
    {% endblock %}

