
{% extends "poc_demo/base.html" %}

{% block poc_content %}  
  {% load static %}

<div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
          {% if message %}     
          <p>{{ message }}</p>
          {% endif %}
          {% if result %}     
          <p>{{ result }}</p>
          {% endif %}

            <div class="card">
                <!-- Form control repeater section start -->
                <section id="form-control-repeater">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="tel-repeater">Add Status</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <!-- <li><a data-action="close"><i class="ft-x"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">

                                    {% if request.session.success_message %}
                                    <p class="success-message">{{ request.session.success_message }}</p>
                                     
                                    {% endif %}
                                    {% if request.session.error_message %}
                                    <p class="error_message">{{ request.session.error_message }}</p>
                                    
                                    {% endif %}
                                    <form class="row" method="post">

                                       {% csrf_token %}
                                       <div class="form-group col-md-12 mb-2">
                                        <input type="hidden" class="form-control"  value={{request.session.username}} name="username">
                                        <input type="text" class="form-control" placeholder="status name" name="status_name">
                                        </div>
                                        <div class="form-actions col-12 mb-2">
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-primary">Add <i class="ft-thumbs-up position-right"></i></button>
                                                <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>
                </div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
{% endblock %}
{% block js %}

{% endblock %}