
{% extends "poc_demo/base.html" %}
{% block poc_content %}  
  {% load static %}
          {% if messages %}
          <div class="messages text-center">

<!--
            {% for message in messages %}
            {{message}}
            {% endfor %} -->

          {% for message in messages %}
          <h4 {% if message.extra_tags %} class="alert alert-{{ message.extra_tags }}"{% else %}
          class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h4>
          {% endfor %}
          </div>
          {% endif %}
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">


            <div class="card">
                <!-- Form control repeater section start -->
                <section id="form-control-repeater">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="tel-repeater">Add Product</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <!-- <li><a data-action="close"><i class="ft-x"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">

                                    {% if request.session.success_message %}
                                    <p class="success-message">{{ request.session.success_message }}</p>
                                     
                                    {% endif %}
                                    {% if request.session.error_message %}
                                    <p class="error_message">{{ request.session.error_message }}</p>
                                    
                                    {% endif %}
                                    <form class="row" method="post">

                                       {% csrf_token %}
                                       <div class="form-group col-md-12 mb-2">
                                        <input type="hidden" class="form-control"  value={{request.user.email}} name="username">
                                        <input type="text" class="form-control" placeholder="product name" name="product_name">
                                        </div>
                                        <div class="form-group col-md-12 mb-2">
                                            <select name="status" class="form-control">
                                              {% for id,sts in status %}
                                              <option value="{{id}}">{{sts}}</option>
                                              {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-actions col-12 mb-2">
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-primary">Add <i class="ft-thumbs-up position-right"></i></button>
                                                <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>
                {% if messages %}
                            <p></p>
                            {% for msg in messages %}
                            <p>{{ msg }}</p>
                            {% endfor %}
                            {% endif %}
                </div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
  {% endblock %}
  {% block js %}
    <script>
      const UserTypefor = document.getElementById('userType');
      const user_opion = document.getElementById('user_list');
  
      UserTypefor.addEventListener('change', () => {
        const selectedUser = UserTypefor.value;
        fetch(`/get_data_for/${selectedUser}`)
          .then(response => response.json())
          .then(data => {
            let text =''
            console.log(data['list_of'], data.length);
            if (data['error']){
              user_opion.innerHTML = data['error']; 
            }
            if (data['list_of'].length > 0){
              for (let i = 0; i < data['list_of'].length; i++) {
                console.log("<option value = '"+data['list_of'][i]+"'>"+ data['list_of'][i] +"</option>");  
                text = text + "<option value = '"+data['list_of'][i]+"'>"+ data['list_of'][i] +"</option>";
              }
            }
            else{
              text = text + "<option value = 'no data found' disabled>no data found </option>";
            }
            user_opion.innerHTML = text;
          });
      });
    </script>
{% endblock %}