

{% extends "poc_demo/base.html" %}

{% block poc_content %}  
  {% load static %}
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">


            <div class="card">
                <!-- Form control repeater section start -->
                <section id="form-control-repeater">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="tel-repeater">Add Customer</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <!-- <li><a data-action="close"><i class="ft-x"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
    

<form class="row g-3 cool-form" method="post">
  {% csrf_token %}
  <div class="col-md-6">
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="Username" required>
      <label for="customer_name">Customer Name</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="location_address" name="location_address" placeholder="Location Address" required>
      <label for="location_address">Location Address</label>
    </div>
  </div>
    <div class="col-md-6">
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address Here" required>
      <label for="address">Address</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="contact_person" name="contact_person" placeholder="Contact Person" required>
      <label for="contact_person">Contact Person</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-2">
      <input type="tel" class="form-control" id="contact_number" name="contact_number" placeholder="Contact Number" required>
      <label for="contact_number">Contact Number</label>
    </div>
      <div id="error-message" style="color: red;"></div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-2">
      <input type="email" class="form-control" id="contact_email" name="contact_email" placeholder="Email Address" required>
      <label for="contact_email">Email Address</label>
    </div>
  </div>
  <div class="form-actions col-12 mb-2">
    <div class="text-right">
      <button type="submit" id ='submitbtn' class="btn btn-primary" onclick="return confirm('Confirmation for Adding Customer?')">
        Submit <i class="ft-thumbs-up position-right"></i>
      </button>
      <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
    </div>
  </div>
</form>


                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>

        
                </div>

        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    {%endblock %}

    
    {% block js %}
<script>
document.getElementById('contact_number').addEventListener('input', function() {
    var phoneNumber = this.value;
    var pattern = /^\d{10}$/; // Assuming a 10-digit phone number

    if (!pattern.test(phoneNumber)) {
        document.getElementById('error-message').textContent = 'Please enter a valid 10-digit mobile number.';
        document.getElementById('submitbtn').disabled = true;
    } else {
        document.getElementById('error-message').textContent = '';
        document.getElementById('submitbtn').disabled = false;
    }
});
</script>
    {% endblock %}

