
{% extends "poc_demo/base.html" %}

{% block poc_content %}  
  {% load static %}
      <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="card">
                <!-- Form control repeater section start -->
                <section id="form-control-repeater">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="tel-repeater">Add Poc</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <!-- <li><a data-action="close"><i class="ft-x"></i></a></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
    
                                    <form method="post">
                                      {% csrf_token %}
                                      
                                        <div class="form-group col-md-12 mb-2">
                                          <input type="hidden" class="form-control" value={{request.session.username}} name="username">
                                            <input type="text" class="form-control" placeholder="Customer Name" name="CustomerName">

                                        </div>
                                        <div class="form-group col-md-12 mb-2">
                                          
                                            <select name="product_name" class="form-control">
                                                <option value="none" selected="" disabled="">product name</option>
                                                {% for product in product_list %}
                                                <option value="{{product}}">{{product}}</option>
                                                {% endfor %}
                                              
                                            </select>
                                        </div>
                                            
                                        <div class="form-group col-12 mb-2 features-repeater" id = 'features-repeater'>
                                          <input type="hidden" id="feature_count" name="feature_count">
                                            <div id = "repeater-group_feature" data-repeater-list="repeater-group">
                                                <div class="input-group mb-1" id = "feture_1">
                                                    <input type="text" placeholder="Features" class="form-control" name="features" id="example-Features-input_1">
                                                    <span class="input-group-append" id="button-addon_1">
                                                        <button class="btn btn-danger" type="button" id = "remove_feture_1" data-repeater-delete onclick="removeDiv(this)"><i class="ft-x"></i></button>
                                                    </span>
                                                </div>
                                            </div>
    
                                            <button type="button" id = 'add_new_feature' data-repeater-create class="btn btn-primary">
                                                <i class="ft-plus"></i> Add new Features
                                            </button>
                                        </div>
    
                                        <div class="form-group col-12 mb-2 Remark-repeater" id = 'Remark-repeater'>
                                          <input type="hidden" id="Remark_count" name="Remark_count">
                                            <div id = "repeater-group_remark" data-repeater-list="repeater-group">
                                                <div class="input-group mb-1" id = "remark_1">
                                                    <input type="text" placeholder="Remark" class="form-control" id="example-Remark-input_1" name="remarks">
                                                    <!-- <span class="input-group-append" id="button-Remark_addon_1">
                                                        <button class="btn btn-danger" type="button" id = "remove_Remark_1" data-repeater-delete onclick="removeDiv(this)"><i class="ft-x"></i></button>
                                                    </span> -->
                                                </div>
                                            </div>
    
                                            <!-- <button type="button" id = 'add_new_remark' data-repeater-create class="btn btn-primary">
                                                <i class="ft-plus"></i> Add new Remark
                                            </button> -->
                                        </div>
                                        <div class="form-group col-md-12 mb-2">
                                            <label for="timeline">Timeline</label>
                                            <input type="date"  class="form-control" id="timeline" min="{% now 'Y-m-d' %}" name="timeline">
                                        </div>
                                        
    
                                        <div class="form-group col-md-12 mb-2">
                                            <select name="status" class="form-control">
                                              {% for sts in status %}
                                              <option value="{{sts}}">{{sts}}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="form-actions col-12 mb-2">
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
                                                <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>
        
                </div>

        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


   {% endblock %}
   {% block js %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" 
        crossorigin="anonymous">
</script>
<script>  
var Features_count = 1
document.getElementById('feature_count').value = Features_count;
function removeDiv(FeatureDiv) {
          const delDiv = FeatureDiv.parentNode.parentNode;
          delDiv.parentNode.removeChild(delDiv);
    }
document.getElementById("add_new_feature").addEventListener("click", function () {
  Features_count++;
  document.getElementById('feature_count').value = Features_count;
  var newFeatureDiv = document.createElement("div");
  newFeatureDiv.className = "input-group mb-1";
  newFeatureDiv.id = `feture_${Features_count}`;
  newFeatureDiv.innerHTML = `<input type="text" placeholder="Features" class="form-control" 
                          id="example-Features-input_${Features_count}" name="features"><span class="input-group-append" 
                          id="button-addon_${Features_count}"><button class="btn btn-danger" type="button" 
                          id = "remove_feture_${Features_count}" data-repeater-delete onclick="removeDiv(this)"><i class="ft-x"></i></button>
                           </span>`;
  document.getElementById("repeater-group_feature").appendChild(newFeatureDiv);
  });
var Remark_count = 1
document.getElementById('Remark_count').value = Remark_count;
document.getElementById("add_new_remark").addEventListener("click", function () {
  Remark_count++;
var newRemarkDiv = document.createElement("div");
document.getElementById('Remark_count').value = Remark_count;
newRemarkDiv.className = "input-group mb-1";
newRemarkDiv.id = `remark_${Remark_count}`;

newRemarkDiv.innerHTML = ` <input type="text" placeholder="Remark" class="form-control" 
                            id="example-Remark-input_${Remark_count}" name="remarks"><span class="input-group-append" 
                            id="button-Remark_addon_${Remark_count}"><button class="btn btn-danger" type="button" 
                            id = "remove_Remark_${Remark_count}" data-repeater-delete onclick="removeDiv(this)"><i class="ft-x"></i></button>
                          </span>`
document.getElementById("repeater-group_remark").appendChild(newRemarkDiv);
});

</script>
{% endblock %}