

{% extends "poc_demo/base.html" %}

{% block poc_content %}  
  {% load static %}
          {% if messages %}
          <div class="messages text-center">

<!--
            {% for message in messages %}
            {{message}}
            {% endfor %} -->

          {% for message in messages %}
          <h4 {% if message.extra_tags %} class="alert alert-{{ message.extra_tags }}"{% else %}
          class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h4>
          {% endfor %}
          </div>
          {% endif %}
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">

            <div class="card">
                <!-- Form control repeater section start -->
                <section id="form-control-repeater">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-header">
                                <h4>Change Password for {{ form.user.username }}</h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">

                                    {% if request.session.success_message %}
                                    <p class="success-message">{{ request.session.success_message }}</p>
                                     
                                    {% endif %}
                                    {% if request.session.error_message %}
                                    <p class="error_message">{{ request.session.error_message }}</p>
                                    
                                    {% endif %}

                                    <form method="post" class="mt-4">
                                    {% csrf_token %}
                                    <div class="form-group mb-2">
                                         <div class="form-floating">
                                    {{ form.new_password1 }}
                                        <label for="new_password1" class="form-label">New Password</label>
                                    <div class="invalid-feedback">
                                    {% for error in form.new_password1.errors %}
                                    {{ error }}
                                    {% endfor %}
                                    </div>
                                         </div>
                                    </div>

                                    <div class = "form-group mb-2">
                                        <div class="form-floating">
                                    {{ form.new_password2 }}
                                    <label for="new_password2" class="form-label">Confirm New Password</label>
                                    <div class="invalid-feedback">
                                    {% for error in form.new_password2.errors %}
                                    {{ error }}
                                    {% endfor %}
                                    </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Reset Password</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>

              </div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    {% endblock %}

    {% block js %}

{% endblock %}
