

{% extends "poc_demo/base.html" %}

{% block poc_content %}
  
  {% load static %}
          {% if messages %}
          <div class="messages text-center">

<!--
            {% for message in messages %}
            {{message}}
            {% endfor %} -->

          {% for message in messages %}
          <h4 {% if message.extra_tags %} class="alert alert-{{ message.extra_tags }}"{% else %}
          class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h4>
          {% endfor %}
          </div>
          {% endif %}
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">

            <div class="card">
                <div class="row">
                  <div class="col-md-3">
                  </div>
                <!-- Form control repeater section start -->        
                <div class="col-md-6">
              <section id="form-control-repeater" class="container-fluid py-4">
                <h1 class="text-center mb-4">Edit Product - {{ product.Product_name }}</h1>
              <form class="row g-3 needs-validation" method="post" novalidate>
                  {% csrf_token %}

                  <div class="col-lg-12 mb-2">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="productName" name="product_name" value="{{ product.Product_name }}" placeholder="Product Name" required>
                      <label for="productName">Product Name</label>
                      <div class="invalid-feedback">Please provide a valid name.</div>
                    </div>
                  </div>

                  <div class="col-lg-12 mb-2">
                    <div class="form-floating">
                      <select name="status" class="form-control" id="productStatus" required>
                        {% for id, sts in status %}
                          <option value="{{ id }}" {% if product.status == id %} selected {% endif %}>{{ sts }}</option>
                        {% endfor %}
                      </select>
                      <label for="productStatus">Status</label>
                      <div class="invalid-feedback">Please select a status.</div>
                    </div>
                  </div>

                  <div class="col-12 text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="ft-thumbs-up position-right"></i>Save Changes <i class="ft-thumbs-up position-right"></i></button>
                  </div>
                </form>

              </section>
                </div>
                    <div class="col-md-3">
                    </div>
          </div>
        </div>
      </div>
    </div>
    {%endblock %}
    {% block js %}    
    {% endblock %}

