

{% extends "poc_demo/base.html" %}

{% block poc_content %}
  
  {% load static %}

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">

            <div class="card">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <section id="form-control-repeater" class="container-fluid py-4">
  <h1 class="text-center mb-4">Edit Status - {{ role.name }}</h1>

  <form class="row g-3 needs-validation" method="post" novalidate>
    {% csrf_token %}

    <div class="col-12">
      <input type="hidden" class="form-control" value={{ request.user.email }} name="username">
      <input type="hidden" class="form-control" value={{ role.id }} name="role_id">
    </div>

    <div class="col-lg-12 mb-2">
      <div class="form-floating">
        <input type="text" class="form-control" id="roleName" name="role_name" value="{{ role.name }}" placeholder="Role Name" required {% if role.name in roles_defined %}readonly{% endif %}>
        <label for="roleName">Role Name</label>
        <div class="invalid-feedback">Please provide a valid role name.</div>
      </div>
    </div>

    <div class="col-lg-12 mb-2">
      <div class="permission-management">
      <h2>Permissions</h2>
      <div class="select-all-container">
        <input type="checkbox" id="select-all">
        <label for="select-all" id="select-all-label">Select All</label>
      </div>

 <div class="container">
  <div class="row">
    <div class="col">
      <ul class="permission-list">
        {% for permission in permission_name %}
          <li>
            <input type="checkbox" id="{{permission}}" name="permissions" value="{{ permission }}"
              {% if permission in role.permissions.all %}checked{% endif %} >
            <label for="{{permission}}">{{ permission }}</label>
          </li>
          {% if forloop.counter|divisibleby:10 and not forloop.last %}
            </ul></div><div class="col"><ul class="permission-list">
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
      </div>
      </div>
    </div>

    <div class="col-lg-12 mb-2">
      <div class="form-floating">
        <select name="status" class="form-control" id="roleStatus" required>
          {% for id, sts in status %}
            <option value="{{ id }}" {% if role.status == id %} selected {% endif %}>{{ sts }}</option>
          {% endfor %}
        </select>
        <label for="roleStatus">Status</label>
        <div class="invalid-feedback">Please select a status.</div>
      </div>
    </div>

      <div class="col-md-12">
                                        <div class="form-floating mb-2">
                                          <select name="roleTop" class="form-control" id="roleTop">
                                            {% for roled in role_list %}
                                              <option value="{{ roled.id }}" {% if role.role_belongs_to == roled %} selected {% endif %}>{{ roled }}</option>
                                            {% endfor %}
                                          </select>
                                          <label for="roleTop">Top Role</label>
                                        </div>
                                      </div>


    <div class="col-12 text-center mt-4">
      <button type="submit" class="btn btn-primary btn-lg" onclick="return confirm('Do you want to save changes?')">Save Changes <i class="ft-thumbs-up position-right"></i></button>
    </div>
  </form>
</section>



                    </div>
                    <div class="col-sm-3"></div>

                </div>
                <!-- Form control repeater section start -->        
                


          </div>
        </div>
      </div>
    </div>
    {%endblock %}
    {% block js %}

<script>
    $(document).ready(function() {
    $('#select-all').change(function() {
        var isChecked = $(this).prop('checked');
        // Update permission checkboxes and label text
        $('input[name="permissions"]').prop('checked', isChecked);
        $('#select-all-label').text(isChecked ? 'Deselect All' : 'Select All');
    });
});
</script>
    {% endblock %}

