

{% extends "poc_demo/base.html" %}

{% block poc_content %}
  
  {% load static %}

    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">


            <div class="card">
              <div class="card-body">

                <div class="text-center"><h1>Status List</h1>
                </div>
                <section id="form-control-repeater">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-end">
                <a href="{% url 'add_status' %}" class="btn btn-primary btn-sm m-2">Add Status</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="datatable table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if status %}
                    {% for sts in status %}
                    <tr>
                        <td>{{ sts.name }}</td>
                        <td>{{ sts.created_at }}</td>
                        <td>
                            <a href="{% url 'edit_status' sts.id %}" class="btn btn-primary m-2">Edit</a>
                            <a href="#" onclick="return confirmDelete('{% url 'delete_status' sts.id %}')" class="btn btn-danger m-2">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">Data not found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>

                
              
              </div>
                </div>

        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    {%endblock %}

    
    {% block js %}  
    <script>
      function confirmDelete(url) {
        if (confirm('Are you sure you want to delete?')) {
          window.location.href = url; // Redirect to delete URL if confirmed
        }
      }
      </script>
    {% endblock %}

