{% extends "poc_demo/base.html" %}

{% block poc_content %}  
{% load static %}
<style>

  body {
      font-family: Roboto, sans-serif;  /* Choose a clear font */
      color: #333;  /* Text color */
  }
  
  .card {
      background-color: #fff;  /* Card background */
      border: 1px solid #eee;  /* Subtle border */
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
      margin-bottom: 20px;
      padding: 15px;
  }
  
  .card-header {
      background-color: #f8f9fa;  /* Header background */
      padding: 10px 15px;
      border-bottom: 1px solid #eee;
  }
  
  .card-title {
      font-size: 18px;
      margin-bottom: 5px;
  }
  
  .btn-primary {
      background-color: #007bff;  /* Primary button color */
      border-color: #007bff;
      color: #fff;
  }
  
  </style>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css" rel="stylesheet">
  
<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
    <div class="content-body">
        <!-- Zero configuration table -->
    <section id="configuration">

          {% if messages %}
          <div class="messages text-center">

<!--             
            {% for message in messages %}
            {{message}}
            {% endfor %} -->

          {% for message in messages %}
          <h4 {% if message.extra_tags %} class="alert alert-{{ message.extra_tags }}"{% else %} 
          class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h4>
          {% endfor %}
          </div>
          {% endif %}
                  
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">POC view</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <ol class="breadcrumb"> 
                          <li class="breadcrumb-item active"><a onclick="scrollToElement('poc_detail')"></a>Detail</li>
                          <li class="breadcrumb-item"><a onclick="scrollToElement('Remarks_div')">Remarks</a></li>
                          <li class="breadcrumb-item"><a onclick="scrollToElement('Feature_div')">Feature</a></li>
                        </ol>            
                    </div>
                    <!-- strt -->
                    <div class="poc-view row" id="poc_detail">
                      <div class="col-md-6">
                        <form method="POST" action="{% url 'edit_poc' data.id %}">
                          {% csrf_token %}
                          <div class="card shadow-sm rounded-3 p-3 mt-2 bg-light">
                            <div class="row">
                              <div class="col-md-6">
                                <h5 class="card-title mb-3 text-primary">Details</h5>
                                <div class="mb-3">
                                  <label for="name" class="form-label fw-bold">Name:</label>
                                  <input type="text" class="form-control" id="name" name="Customer_name" value="{{ data.Customer_name }}" disabled>
                                </div>
                                <div class="mb-3">
                                  <label for="product_name" class="form-label fw-bold">Product Name:</label>
                               
                                  <select name="product_name" class="form-control" id="product_name"  required>
                                    {% for prd in product %}
                                    <option value="{{ prd }}" {% if data.Product_name == prd  %} selected {% endif %}>{{ prd }}</option>
                                    {% endfor %}
                                  </select>

                                </div>
                                <div class="mb-3">
                                  <h5 class="card-title mb-3 text-dark">Added By :{{ data.added_by }}</h5>
                                </div>
                                
                                <!-- product -->
                              </div>
                              <div class="col-md-6">
                                <h5 class="card-title mb-3 text-info">Information</h5>
                                <div class="mb-3">
                                  <label for="requested_date" class="form-label fw-bold">Requested Date:</label>
                              <input type="date" class="form-control" id="requested_date_edit" name="requested_date" value="{{ data.Requested_date|date:'Y-m-d' }}" readonly disabled> 
                                </div>
                                <div class="mb-3">
                                  <label for="timeline" class="form-label fw-bold">Timeline:</label>
                                  <input type="date" class="form-control" id="Timeline_date_edit" name="Timeline_date" value="{{ data.Timeline|date:'Y-m-d' }}" disabled>  
                                </div>
                                <div class="mb-3">
                                  <label for="status" class="form-label fw-bold">Status:</label>

                                  <select name="status" class="form-control" id="status_edit"  required disabled>
                                    {% for sts in status %}
                                    <option value="{{ sts.name }}" {% if data.status == sts  %} selected {% endif %}>{{ sts }}</option>
                                    {% endfor %}
                                  </select>
                                </div>

                                <div class="mb-3"> 
                                  {% if request.user.role.name == "Manager" %}
                                    <label for="assign_edit" class="form-label fw-bold">Belongs To:</label>
                              
                                    <select name="assign_edit" class="form-control" id="assign_edit" required disabled>
                                        {% if data.assign_to == None %}
                                        <option value="{{ data.assign_to }}" selected>{{ data.assign_to }} </option>
                                        {% endif %}
                                      {% for belong in assign_to %}
                                      <option value="{{ belong.id }}" {% if data.assign_to == belong  %} selected {% endif %}>{{ belong }}</option>
                                      {% endfor %}
                                    {% else %}
                                      <label for="assign_edit_text" class="form-label fw-bold">Belongs To:</label>
                                      <input type="text" class="form-control" id="assign_edit_text" name="assign_edit_text" value="{{ data.assign_to }}" readonly>
                                    {% endif %}
                                    </select>
                
                                </div>
                                
                              </div>
                            </div>
                                     
                            <div class="text-end">
                              <button type="button" class="btn btn-primary edit-btn">Edit</button>
                              <button type="submit" class="btn btn-success save-btn" disabled>Save Changes</button>
                            </div>
                          </div>
                        </form>           
                      </div>
                      <div class="col-md-6" id="Remarks_div">
                        <div class="card shadow-sm rounded-3 p-3 mt-2 bg-light">
                          <div class="row">
                            <div class="col-sm-6">
                              <h5 class="card-title mb-3 text-primary">Remarks</h5>
                            </div>
                            <div class="col-sm-6 text-end">
                              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#centeredModal" id="{{data.id}}" onclick="set_id(this.id)">
                                <i class="fas fa-plus"></i> Add Remarks
                              </button>
                            </div>
                          </div>
                          <table class="table table-bordered datatable" id="poc_remark_table">
                            <thead>
                              <tr>
                                <th scope="col">Remark</th>
                                <th scope="col">Remark By</th>
                                <th scope="col">Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for remark in data.poc_r_related.all %}
                              <tr>
                                <td>{{ remark.remarks }}</td>
                                <td>{{ remark.added_by }}</td>
                                <td>{{ remark.created_at }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>                    

                    
                    <!-- end -->

                    
            
        </div>
        </div>
        </div>
        <div id = 'sts_update_response'></div>
    <div class="row">

      <div class="col-md-6">
        <div class="card shadow-sm rounded-3 p-3 mt-2 bg-light">
          <div class="row" id="Feature_div">
            <div class="col-sm-6">
              <h5 class="card-title mb-3 text-primary">Features</h5>
            </div>
            <div class="col-sm-6 text-end">
              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addFeatureModal" id="{{data.id}}">
                <i class="fas fa-plus"></i> Add Feature
              </button>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered datatable" id="poc_data_table_feature">
            <thead>
              <tr>
                <th scope="col">Feature</th>
                <th scope="col">Timeline</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for feature in data.poc_f_related.all %}
              <tr>
                <td>{{ feature.features_list }}</td>
                <td>{{ feature.timeline }}</td>
                <td>{{ feature.status }}</td>
                <td>
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary" id="fet_{{ feature.id }}" value="{{ feature.id }}" onclick="view_sts_feature(this)">
                      View Status
                    </button>
                    <button class="btn btn-sm btn-primary"  data-bs-toggle="modal" id="{{ feature.id }}_update_feture" value="{{ feature.id }}" onclick="update_feature(this,'{{ feature.features_list }}','{{ feature.timeline|date:'Y-m-d' }}','{{ feature.status }}')" data-bs-target="#centeredModalupdatefeature">
                      Update Feature
                    </button>
                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" value="{{ feature.id }}" onclick="update_sts(this)" data-bs-target="#centeredModalupdate">
                      Add Status
                    </button>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>




        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Status Details   </h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          
                </div>
                <div class="card-content collapse show">
                    <div  id="featurestsdetatil" class="card-body card-dashboard">
                               <span> for view, click view buuton in feature section</span> 
                               <br><br> 
                                <table id="my-feature-table">
                                  </table>    
                    </div>
                </div>
        </div>
      </div>
    </div>
    </section>


    <div class="modal fade" id="centeredModal" tabindex="-1" aria-labelledby="centeredModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form method="post" action="{% url 'add_remarks' data.id %}">
            {% csrf_token %}
            <div class="modal-header bg-light border-bottom">
              <h5 class="modal-title" id="centeredModalLabel">Add Remarks</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-4 px-5">
              <div class="mb-3" >
                <!-- <label for="username" class="form-label">Username</label> -->
                <input type="hidden" class="form-control" value="{{request.user.email}}" name="username" id="username" readonly>
              </div>
              <div class="mb-3">
                <!-- <label for="row_remark_id" class="form-label">Row Remark ID</label> -->
                <input type="hidden" name="row_remark_id" id="row_remark_id">
              </div>
              <div class="mb-3" id="Remark-repeater">
                <!-- <label for="Remark-count" class="form-label">Number of Remarks</label> -->
                <input type="hidden" id="Remark_count" name="Remark_count" class="form-control-plaintext" readonly>
                <div id="repeater-group_remark" data-repeater-list="repeater-group">
                  <div class="mb-3" id="remark_1">
                    <input type="text" placeholder="Remark" class="form-control" id="example-Remark-input_1" name="remarks">
                    <span class="input-group-append">
                      <!-- <button class="btn btn-danger" type="button" id="remove_Remark_1" data-repeater-delete onclick="removeDiv(this)">
                        <i class="ft-x"></i>
                      </button> -->
                    </span>
                  </div>
                </div>
                <!-- <button type="button" id="add_new_remark" data-repeater-create class="btn btn-primary">
                  <i class="ft-plus"></i> Add new Remark
                </button> -->
              </div>
            </div>
            <div class="modal-footer py-3 px-5">
              <div class="d-flex justify-content-end">
                <button type="reset" class="btn btn-secondary me-2">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    

    <!--/ Zero configuration table -->

    <div class="modal fade" id="centeredModalFeture" tabindex="-1" aria-labelledby="centeredModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="centeredModalLabel2"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id = 'FetureCentered'>
            </div>
            <div class="modal-footer">
                <div class="form-actions col-12 mb-2">
                    <div class="text-right">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
  
            </div>
          </div>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->

      <div class="modal fade" id="centeredModalupdate" tabindex="-1" aria-labelledby="centeredModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
 

            <form>
                {% csrf_token %}
            <div class="modal-header">
              
              <h5 class="modal-title" id="centeredModalLabel3"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="form-group col-md-12 mb-2">
              <input type="hidden" class="form-control" id='feture_id' name="feture_id"> 
            <input type="hidden" class="form-control"  id='sts_id' name="sts_id"> 
            <input type="hidden" class="form-control" value="{{data.id}}" id = 'poc_id' name="poc_id">
            <div class="modal-body" id = 'FeturestsCenteredupdate'>
                <input type="text" class="form-control" placeholder="Status" class="form-control" id="sts" name="sts">
            </div>
            </div>
            <div class="modal-footer">
                <div class="form-actions col-12 mb-2">
                    <div class="text-right">
                        <button type="button" id="update_status_feature" class="btn btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
                    <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </form>
            
          </div>
        </div>
      </div>    

      <div class="modal fade" id="centeredModalupdatefeature" tabindex="-1" aria-labelledby="centeredModalLabel4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form>
              {% csrf_token %}
              <div class="modal-header bg-light border-bottom">
                <h5 class="modal-title" id="centeredModalLabel4">Update Feature</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body py-4 px-5">
                <input type="hidden" id='feature_ids' name="feature_ids">
                <input type="hidden" value="{{data.id}}" id = 'poc_ids' name="poc_ids">
    
                <div class="form-group mb-3">
                  <label for="Feature_name" class="form-label">Feature Name</label>
                  <input type="text" class="form-control" id="Feature_name" name="Feature_name" placeholder="Enter Feature Name">
                </div>
                <div class="form-group mb-3">
                  <label for="Feature_timeline" class="form-label">Feature Timeline</label>
                  <input type="date" class="form-control" id="Feature_timeline" min="{% now 'Y-m-d' %}" max="{{ data.Timeline|date:'Y-m-d' }}" name="Feature_timeline">
                </div>
                <div class="form-group mb-3">
                  <label for="Feature_sts" class="form-label">Feature Status</label>
                  <input type="text" class="form-control" id="Feature_sts" name="Feature_sts" placeholder="Enter Feature Status">
                </div>
              </div>
              <div class="modal-footer py-3 px-5">
                <div class="d-flex justify-content-end">
                  <button type="reset" class="btn btn-secondary me-2">Reset</button>
                  <button type="button" id="update_data_feature" class="btn btn-primary">Update Feature</button>
                </div>
              </div>
              <div id="feature_update_response"></div>
            </form>
          </div>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->

    <div class="modal fade" id="addFeatureModal" tabindex="-1" aria-labelledby="addFeatureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="post" action="{% url 'add_feature' data.id %}">  {% csrf_token %}
        <div class="modal-header bg-light border-bottom">
          <h5 class="modal-title" id="addFeatureModalLabel">Add Feature</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-4 px-5">
          <div class="mb-3">
      <div class="col-md-12">
        <div class="fmb-3 features-repeater" id="features-repeater">
          <input type="hidden" id="feature_count" name="feature_count">
        
          <div id="repeater-group_feature" data-repeater-list="repeater-group">
            <div class="input-group mb-1" id="feture_1">
              
              <input type="hidden" name="Feature_ids" id="Feature_ids_1" value="1">
              <div class='form-floating'>
              <input type="text" placeholder="Features" class="form-control me-1 " name="features_1" id="example-Features-input_1">
              <label for="example-Features-input_1" class="col-form-label">Feature</label>
            </div>
              <div class='form-floating'>
                <input type="date" class="form-control ms-1" id="timeline_1" min="{% now 'Y-m-d' %}" max="{{ data.Timeline|date:'Y-m-d' }}" name="timeline_1">
                <label for="timeline_1" class="col-form-label"> Feture Timeline </label>  
              </div>
              <span class="input-group-append ms-2" id="button-addon_1">
                <button class="btn btn-danger mt-2" type="button" id="remove_feture_1" data-repeater-delete onclick="removeDiv(this)">
                  <i class="ri-delete-bin-6-line"></i> 
                </button>
              </span>
            </div>
          </div>
        
          <button type="button" id="add_new_feature" data-repeater-create class="btn btn-primary mt-2">
            <i class=" ri-add-line"></i> Add new Feature
          </button>
        </div>
        </div>
      </div>
    </div>
  <div class="modal-footer py-3 px-5">
    <div class="d-flex justify-content-end">
      <button type="reset" class="btn btn-secondary me-2">Reset</button>
      <button type="submit" class="btn btn-primary">Add Feature</button>
    </div>
  </div>
</form>
</div>
</div>
</div>


        <!-- //////////////////////////////////////////////////////////////// -->



</div>
</div>
</div>

    {% endblock %}

    {% block js %}
    <!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js" referrerpolicy="no-referrer"></script> -->
    

   <script>

    $(document).ready(function() {


      
      $('#update_data_feature').click(function(){
        id = $('#feature_ids').val();
        Feature_name = $('#Feature_name').val();
        Feature_timeline = $('#Feature_timeline').val();
        Feature_sts = $('#Feature_sts').val();
        $.ajax
        ({ 
        url: "{% url 'update_feature_detail'  %}",
        data: {"id": id, "status":  Feature_sts, "Feature_timeline":Feature_timeline,"Feature_name":Feature_name, 'csrfmiddlewaretoken': '{{ csrf_token }}', "username": '{{request.user.email}}' },
        type: 'POST',
        success: function(result)
        {   
          location.reload();
        },
        error: function(jqXHR, textStatus, error) {
          location.reload();
        }
        });
        

           
      });
       
      $('#update_status_feature').click(function() {
    sts_id = $("#sts_id").val();
    status = $("#sts").val();
    poc_id = $("#poc_id").val();
    sts_id_div = `#fet_${sts_id}`;

    $.ajax({
        url: "{% url 'update_sts' data.id %}",
        data: {
            "sts_id": sts_id,
            "status": status,
            "poc_id": poc_id,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            "username": '{{ request.user.email }}'
        },
        type: 'POST',
        success: function(result) {
            $(sts_id_div).triggerHandler("click");
            $('#centeredModalupdate').modal('hide');  // Hide modal dialog
            $('.modal-backdrop').remove();             // Remove backdrop elements
            $('#sts_update_response').html('Status updated successfully!');  // Show success message

            // Option 1: Reload window after a short delay
            setTimeout(function() {
                // window.location.reload();  // Reload the page
            }, 2000); // Adjust delay as needed (in milliseconds)

            // Option 2: Redirect to a specific URL (uncomment if preferred)
            // window.location.href = "your_desired_url";
        },
        error: function(jqXHR, textStatus, error) {
            $('#sts_update_response').html(error);
            setTimeout(function() {
                $('#sts_update_response').html('');
            }, 5000);
        }
    });
});
    
    // $('#my_poc_view').dataTable();
    });


    //     document.getElementById('feture_sts_id').value = button_.value;
    // function view_sts_feature(button_){

    // }

    function scrollToElement(id) {
  const element = document.getElementById(id);
  element.scrollIntoView();
}

async function view_sts_feature(button_) {
  const featureStatusid = button_.value;

//   const additionalData = { param1: featureStatus, param2: 'value2', param3: 'value3' };
//   const dataString = Object.entries(additionalData) // Convert object to key-value pairs
//     .map(([key, value]) => `${key}=${value}`) // Join key-value pairs with '=' and '&'
//     .join('&');

  try {
    const response = await fetch('{% url 'get_detail_sts' %}', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}', 
                },
                 body: `id=${featureStatusid}`,
          });
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    const processedData = []; 
    const responseJson = await response.json();
  // Loop through each key-value pair in the JSON
  for (const featureId in responseJson) {
    const featureData = responseJson[featureId];
    
    const status = featureData.status; // Replace with actual property name
    const addedBy = featureData.added_by;
    const addedAt = featureData.time; // Replace with actual property names
    const feature = featureData.feature;/* property for feature */;
    const formattedAddedAt = new Date(addedAt).toLocaleDateString('en-US', {
    year: 'numeric',
    month: '2-digit',
    day: '2-digit',
  });
  processedData.push([status, addedBy, formattedAddedAt, feature]);
  }
  console.log(processedData);
 const datatable = new window.simpleDatatables.DataTable("#my-feature-table", {
  perPageSelect: [10, 100, 1000, 10000, ["All", -1]],
  perPage: 10,
  columns: [
      {
          // select the Third column ...
          select: 2,
          // ... let the instance know we have datetimes in it ...
          type: "date",
          // ... pass the correct datetime format ...
          format: "YYYY/DD/MM",
          // ... sort it ...
          sort: "desc"
      }
      ],
      data: {
      "headings": ["Status", "Added By", "Added At", "Feature"],
      "data": processedData,

   },
    });
    console.log(datatable);
  // const featureStatusDiv = document.getElementById('featurestsdetatil');

  // featureStatusDiv.innerHTML = featureTable.outerHTML; 
  scrollToElement('featurestsdetatil');
//  end
  } catch (error) {
    console.error('Error:', error);
    // Handle errors appropriately (e.g., display error message to user)
  }
}

   function set_id(button_){
        document.getElementById('row_remark_id').value  = button_
    }

    function update_feature(button, name, timeline, status){
    document.getElementById('feature_ids').value = button.value;
    document.getElementById('Feature_name').value = name;
    document.getElementById('Feature_timeline').value = timeline;
    document.getElementById('Feature_sts').value = status;

    }


    function update_sts(button){
    document.getElementById('sts_id').value = button.value;
    }

    function display(button_, centeredModalLabel2_val){
        // document.getElementById('FetureCentered').value = button_
        // alert(button_.value);
        document.getElementById("FetureCentered").innerHTML = button_.value;

        document.getElementById("centeredModalLabel2").innerHTML = centeredModalLabel2_val; 
        // document.getElementById('row_remark_id').value  = button_
    }
    
    function removeDiv(FeatureDiv) {
          const delDiv = FeatureDiv.parentNode.parentNode;
          delDiv.parentNode.removeChild(delDiv);
    }

    var Remark_count = 1
    document.getElementById('Remark_count').value = Remark_count;
    
   </script>

<script>
$(document).ready(function() {
  // Enable editing on click of "Edit" button
  $('.edit-btn').click(function() {
    $(this).prop('disabled', true); // Disable "Edit" button on click
    $('.form-control').prop('disabled', false); // Enable all input fields
    $('.save-btn').prop('disabled', false); // Enable "Save" button

  });
});


</script>

<script>  
  var Features_count = 1
  document.getElementById('feature_count').value = Features_count;
  function removeDiv(FeatureDiv) {
            const delDiv = FeatureDiv.parentNode.parentNode;
            delDiv.parentNode.removeChild(delDiv);
      }
  document.getElementById("add_new_feature").addEventListener("click", function () {
    Features_count++;
    document.getElementById('feature_count').value = Features_count;
    var newFeatureDiv = document.createElement("div");
    newFeatureDiv.className = "input-group mb-1";
    newFeatureDiv.id = `feture_${Features_count}`;
    newFeatureDiv.innerHTML = `<input type="hidden" name="Feature_ids" id="Feature_ids_${Features_count}" value="${Features_count}">
                          <div class="form-floating">
                          <input type="text" placeholder="Features" class="form-control me-1" 
                            id="example-Features-input_${Features_count}" name="features_${Features_count}">
                            <label for="example-Features-input_${Features_count}" class="col-form-label">Feature</label></div>
                            <div class="form-floating">
                            <input type="date" class="form-control ms-1" id="timeline_${Features_count}" min="{% now 'Y-m-d' %}" name="timeline_${Features_count}">
                            <label for="timeline_${Features_count}" class="col-form-label">Feture Timeline </label>
                            </div>
                            <span class="input-group-append ms-2" 
                            id="button-addon_${Features_count}"><button class="btn btn-danger mt-2" type="button" 
                            id = "remove_feture_${Features_count}" data-repeater-delete onclick="removeDiv(this)"><i class="ri-delete-bin-6-line"></i></button>
                             </span>`;
  
    document.getElementById("repeater-group_feature").appendChild(newFeatureDiv);
    });
  var Remark_count = 1
  document.getElementById('Remark_count').value = Remark_count;
  

  </script>

{% endblock %}