

{% extends "poc_demo/base.html" %}

{% block poc_content %}  
{% load static %}

<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
    <div class="content-body">
        <!-- Zero configuration table -->
    <section id="configuration">
        <div class="row">
            
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">POC view</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <!-- <li><a data-action="close"><i class="ft-x"></i></a></li> -->
                            </ul>
                        </div>
                        
                        <div class="col-md-2 ms-auto mt-2" style="margin-left: 100px;">
                            <form method="get" id="filter-form" class="form-inline">
                            <input type="text" name="search" placeholder="Search.." id="search" class="form-control ms-auto" value="{{ search_query }}">
                          </form></div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table id = 'my_poc_view' class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Product_name</th>
                                        <th>Features</th>
                                        <th>Remarks</th>
                                        <th>Requested_date</th>
                                        <th>Timeline</th>
                                        <th>Status</th>
                                        <th>added_by</th>
                                        {% if  request.session.roles  == 'Manager' %}
                                        <th>add_remarks</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in page.object_list %}
                                    <tr>
                                        <td>{{i.Customer_name}}</td>
                                        <td>{{i.Product_name}}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" value="{% for feature in i.feature_set.all %}<div class='row'><div class='col-sm-3'> <h4>{{ feature.features_list }}</h4> </div><div class='col-sm-3'> {{ feature.status }}</div><div class= 'col-sm-6'><button class='btn btn-primary form-control' data-bs-toggle='modal' value = '{{ feature.id }}' onclick='update_sts(this)' data-bs-target='#centeredModalupdate'>update status</button></div></div><br>{% endfor %}"  onclick="display(this, 'Features')"  data-bs-target="#centeredModalFeture">view</button>           
                                        </td>
                                        <td>
                                            <!--{% for remark in i.poc_remark_set.all %}
                                            {{remark.remarks}}
                                            {% endfor %} -->

                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" value=" {% for remark in i.poc_remark_set.all %} {{ remark.remarks }} <hr>  {% endfor %}"  onclick="display(this, 'Remarks')"  data-bs-target="#centeredModalFeture">view</button>

                                        </td>
                                        <td>{{i.Requested_date}}</td>
                                        <td>{{i.Timeline}}</td>
                                        <td>{{i.status}}</td>
                                        <td>{{i.added_by}}</td>
                                        
                                        {% if  request.session.roles  == 'Manager' %}
                                        <td>
                                        <!-- <td><button type ='button' class = 'btn btn-sm-primary'>add</button> -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" id ='{{i.id}}' data-bs-target="#centeredModal" onclick="set_id(this.id)">
                                                ADD
                                              </button>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                
                                    </tbody>
                                <!-- <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </tfoot> -->
                            </table>
                            <div class="paginator" align='center'>
                                <span style="color:black">Page {{page.number}} of {{page.paginator.num_pages}}</span>
                                <div class="pages">                  
                                {% if page.has_previous %}
                                <a href="?page={{page.previous_page_number}}">Previous</a>
                                {% endif %}
                                {% if page.has_next %}
                                <a href="?page={{page.next_page_number}}">Next</a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


  <div class="modal fade" id="centeredModal" tabindex="-1" aria-labelledby="centeredModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="centeredModalLabel">Add Remarks</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form method="post">
            {% csrf_token %}
              <div class="form-group col-md-12 mb-2">
                <input type="hidden" class="form-control" value={{request.session.username}} name="username">
                <input type="hidden" name="row_remark_id" id="row_remark_id">
              </div>
              <div class="form-group col-12 mb-2 Remark-repeater" id = 'Remark-repeater'>
                <input type="hidden" id="Remark_count" name="Remark_count">
                  <div id = "repeater-group_remark" data-repeater-list="repeater-group">
                      <div class="input-group mb-1" id = "remark_1">
                          <input type="text" placeholder="Remark" class="form-control" id="example-Remark-input_1" name="remarks">
                          <!-- <span class="input-group-append" id="button-Remark_addon_1">
                              <button class="btn btn-danger" type="button" id = "remove_Remark_1" data-repeater-delete onclick="removeDiv(this)"><i class="ft-x"></i></button>
                          </span> -->
                      </div>
                  </div>

                  <!-- <button type="button" id = 'add_new_remark' data-repeater-create class="btn btn-primary">
                      <i class="ft-plus"></i> Add new Remark
                  </button> -->
              </div>
        </div>
        <div class="modal-footer">
            <div class="form-actions col-12 mb-2">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
                    <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
          
        </div>
      </div>
    </div>
  </div>

    <!--/ Zero configuration table -->

    <div class="modal fade" id="centeredModalFeture" tabindex="-1" aria-labelledby="centeredModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="centeredModalLabel2"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id = 'FetureCentered'>
            </div>
            <div class="modal-footer">
                <div class="form-actions col-12 mb-2">
                    <div class="text-right">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
  
            </div>
          </div>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->

      <div class="modal fade" id="centeredModalupdate" tabindex="-1" aria-labelledby="centeredModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form>
                {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="centeredModalLabel3"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <input type="hidden" id='sts_id' name="sts_id"> 
            <div class="modal-body" id = 'FeturestsCenteredupdate'>
                <input type="text" placeholder="Status" class="form-control" id="sts" name="sts">
            </div>
            <div class="modal-footer">
                <div class="form-actions col-12 mb-2">
                    <div class="text-right">
                        <button type="button" id="update_status_feature" class="btn btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
                    <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </form>
            <div id = 'sts_update_response'></div>
          </div>
        </div>
      </div>    
      <!-- ----------------------------------------------------------------------- -->
</div>
</div>
</div>

    {% endblock %}

    {% block js %}
    <!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script> -->

   <script>

    $(document).ready(function() {
        $('#update_status_feature').click(function(){
        sts_id = $("#sts_id").val(); 
        status = $("#sts").val(); 
        $.ajax
        ({ 
        url: "{% url 'update_sts' %}",
        data: {"sts_id": sts_id, "status": status, 'csrfmiddlewaretoken': '{{ csrf_token }}',"username": '{{request.session.username}}' },
        type: 'POST',
        success: function(result)
        {
            
            $('#sts_update_response').html(result);
            setTimeout(function(){
            $('#sts_update_response').html('');
        }, 5000);
        },
        error: function(jqXHR, textStatus, error) {
            $('#sts_update_response').html(error);
            setTimeout(function(){
            $('#sts_update_response').html('');
        }, 5000);
        }
        });
        });
    
    // $('#my_poc_view').dataTable();
    });



    function set_id(button_){
        document.getElementById('row_remark_id').value  = button_
    }

    function update_sts(button){
    document.getElementById('sts_id').value = button.value;
    }

    function display(button_, centeredModalLabel2_val){
        // document.getElementById('FetureCentered').value = button_
        // alert(button_.value);
        document.getElementById("FetureCentered").innerHTML = button_.value;

        document.getElementById("centeredModalLabel2").innerHTML = centeredModalLabel2_val; 
        // document.getElementById('row_remark_id').value  = button_
    }
    
    function removeDiv(FeatureDiv) {
          const delDiv = FeatureDiv.parentNode.parentNode;
          delDiv.parentNode.removeChild(delDiv);
    }

    var Remark_count = 1
    document.getElementById('Remark_count').value = Remark_count;
    // document.getElementById("add_new_remark").addEventListener("click", function () {
    // Remark_count++;
    // var newRemarkDiv = document.createElement("div");
    // document.getElementById('Remark_count').value = Remark_count;
    // newRemarkDiv.className = "input-group mb-1";
    // newRemarkDiv.id = `remark_${Remark_count}`;

    // newRemarkDiv.innerHTML = ` <input type="text" placeholder="Remark" class="form-control" 
    //                         id="example-Remark-input_${Remark_count}" name="remarks"><span class="input-group-append" 
    //                         id="button-Remark_addon_${Remark_count}"><button class="btn btn-danger" type="button" 
    //                         id = "remove_Remark_${Remark_count}" data-repeater-delete onclick="removeDiv(this)"><i class="ft-x"></i></button>
    //                         </span>`
    // document.getElementById("repeater-group_remark").appendChild(newRemarkDiv);
    // });

   </script>



{% endblock %}