{% extends "poc_demo/base.html" %}

{% block poc_content %}
{% load static %}


<style>

  body {
      font-family: Roboto, sans-serif;  /* Choose a clear font */
      color: #333;  /* Text color */
  }

  .card {
      background-color: #fff;  /* Card background */
      border: 1px solid #eee;  /* Subtle border */
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
      margin-bottom: 20px;
      padding: 15px;
  }

  .card-header {
      background-color: #f8f9fa;  /* Header background */
      padding: 10px 15px;
      border-bottom: 1px solid #eee;
  }

  .card-title {
      font-size: 18px;
      margin-bottom: 5px;
  }

  .btn-primary {
      background-color: #007bff;  /* Primary button color */
      border-color: #007bff;
      color: #fff;
  }
  </style>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css" rel="stylesheet">
<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
    <div class="content-body">
        <!-- Zero configuration table -->
    <section id="configuration">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">DEMO:</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item active"><a onclick="scrollToElement('Demo_detail')"></a>Detail</li>
                          <li class="breadcrumb-item"><a onclick="scrollToElement('Remarks_div')">Remarks</a></li>
                          <li class="breadcrumb-item"><a onclick="scrollToElement('Feature_div')">Feature</a></li>
                        </ol>
                    </div>
                    {% if request.user.role.name == 'Sales' %}
                      {% if data.description %}

                      <div class="alert alert-warning">
                      <strong>Rejected!</strong> Reason : -  {{ data.description }}
                    </div>

                      {% endif %}
                      {% endif %}
                    <!-- strt -->
                    <div class="DEMO-view row" id="Demo_detail">
                      <div class="col-md-6">
                        <form method="POST" action="{% url 'edit_demo' data.id %}" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="card shadow-sm rounded-3 p-3 mt-2 bg-light">
                            <div class="row">
                              <div class="col-md-6">
                                <h5 class="card-title mb-3 text-primary">Details</h5>
                                <div class="mb-3">
                                  <label for="customer_name" class="form-label fw-bold">Customer Name:</label>
                                  {% comment 'in feature' %}
                                  <select name="Customer_name" class="form-control" id="customer_name"  required disabled>
                                    {% for customer in customer %}
                                    <option value="{{ customer.id }}" {% if data.Customer_name == customer  %} selected {% endif %}>{{ customer }}</option>
                                    {% endfor %}
                                  </select>
                                   {% endcomment %}
                                  <input type="text" name="Customer_name" class="form-control" id="customer_name" value="{{ data.Customer_name }}" disabled readonly>
                                </div>
                                <div class="mb-3">
                                  {% if request.user.role.name == "Approval" %}
                                  <label for="product_name" class="form-label fw-bold">Product Name:</label>
                                  <select name="product_name" class="form-control" id="product_name"  required disabled>
                                    {% for prd in product %}
                                    <option value="{{ prd }}" {% if data.Product_name == prd  %} selected {% endif %}>{{ prd }}</option>
                                    {% endfor %}
                                    {% else %}
                                    <label for="product_name_" class="form-label fw-bold">Product Name:</label>
                                    <input type="text"  class="form-control" value="{{data.Product_name}}" id="product_name_" readonly disabled>
                                    {% endif %}
                                  </select>

                                </div>
                                <div class="mb-3">
                                  <label for="added_by" class="form-label fw-bold">Added By:</label>
                                  <input type="text" id = 'added_by' class="form-control" value="{{ data.added_by }}" disabled readonly>
                                </div>
                                {% comment "actiity type in demo" %}
                                 <div class="mb-3">
                                     <label class="form-label fw-bold" for="demo_type">Activity Type:
                                     </label>
                                    <select class="form-control" name="demo_type" id="demo_type" aria-label="status" disabled>
                                    <option value="" selected disabled></option>
                                    {% for id, type in type_poc %}
                                    <option value="{{ id }}" {% if data.demo_type == type %}selected{% endif %}>{{ type }}</option>
                                    {% endfor %}
                                      </select>
                                   {% if request.user.role.name == "Sales" %}
                                   <input type="text" name="demo_type"  value="{{data.demo_type}}" readonly hidden>
                                   {% endif %}
                                 </div>
                                {% endcomment %}
                                {% if request.user.role.name == "Approval" or request.user.role.name == "Sales" %}
                                <div class="mb-3">
                                    <label for="uploaded_file" class="form-label fw-bold">Upload Document:</label>
                                    <input type="file" id="uploaded_file" name="uploaded_file" class="form-control" accept=".zip,.pdf"  multiple disabled>
                                    <small class="text-muted">Allowed file types: PDF, ZIP</small><br>
                                  {% if request.user.role.name == 'Approval' %}
                                <small class="text-muted">To replace the file, upload a new one:</small>
                              {% endif %}

                                </div>
                                {% endif %}
                                <p class="form-label fw-bold">Documents:</p>
                                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#documentModal">
    View Documents
                                  </button></div>
                              <div class="col-md-6">
                                <h5 class="card-title mb-3 text-info">Information</h5>
                                <div class="mb-3">
                                  <label for="requested_date_edit" class="form-label fw-bold">Requested Date:</label>
                              <input type="date" class="form-control" id="requested_date_edit" name="requested_date" value="{{ data.Requested_date|date:'Y-m-d' }}" readonly disabled>
                                </div>
                                <div class="mb-3">
                                  <label for="Timeline_date_edit" class="form-label fw-bold">Timeline:</label>
                                  <input type="date" class="form-control" id="Timeline_date_edit" name="Timeline_date" value="{{ data.Timeline|date:'Y-m-d' }}" disabled>
                                </div>
                                <div class="mb-3">
                                  <label for="status_edit" class="form-label fw-bold">Status:</label>
                                  <select name="status" class="form-control" id="status_edit"  required disabled onchange="handleStatusChange(this.value)">
                                      {% if data.status.name == 'Rejected'  and request.user.role.name == 'Sales' %}
                                        <option value="{{data.status.name}}" selected> {{data.status.name}} </option>
                                    {% elif request.user.role.name == 'Sales' %}
                                        <option value="{{data.status.name}}" selected> {{data.status.name}} </option>
                                     {% elif data.status.name == 'Rejected'  and request.user.role.name == 'Approval' %}
                                           <option value="{{data.status.name}}" selected> {{data.status.name}} </option>
                                      {% else %}
                                          {% for sts in status %}
                                          <option value="{{ sts.name }}" {% if data.status == sts  %} selected {% endif %}>{{ sts }}</option>
                                          {% endfor %}
                                    {% endif %}
                                  </select>
                                </div>

                                <div class="mb-3">
                                  {% if request.user.role.name == "Approval" %}
                                    <label for="assign_edit" class="form-label fw-bold">Assign To:</label>
                                    <select name="assign_edit" class="form-control" id="assign_edit" required disabled>
                                        {% if data.assign_to == None %}
                                        <option value="{{ data.assign_to }}" selected>{{ data.assign_to }} </option>
                                        {% endif %}
                                      {% for belong in assign_to %}
                                      <option value="{{ belong.id }}" {% if data.assign_to == belong  %} selected {% endif %}>{{ belong }}</option>
                                      {% endfor %}
                                    {% else %}
                                      <label for="assign_edit_text" class="form-label fw-bold">Assign To:</label>
                                      <input type="text" class="form-control" id="assign_edit_text" name="assign_edit_text" value="{{ data.assign_to }}" disabled readonly>
                                    {% endif %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                  {% if request.user.role.name == "Approval" %}
                                    <label for="kt_given" class="form-label fw-bold">KT Given:</label>
                                    <select name="kt_given" class="form-control" id="kt_given" required disabled>
                                      <option value="True" {% if data.kt_given == True %} selected {% endif %}> Provided </option>
                                      <option value="False" {% if data.kt_given == False  %} selected {% endif %}> Not Provided </option>
                                      </select>
                                    {% else %}
                                      <label for="Kt_given_" class="form-label fw-bold">KT Given:</label>
                                      <input type="text" class="form-control" id="Kt_given_" name="Kt_given_" value="{% if  data.kt_given == True %}Provided{% else %}Not Provided {% endif %}" disabled readonly>
                                    {% endif %}

                                </div>
                              </div>
                            </div>
                            <div class="text-end">
                              {% if data.status.name != 'InActive' %}
                                  {% if 'edit_demo' in permission_names  %}

                                     {% if is_edit and edit_allow %}
                                      <button type="button" class="btn btn-primary edit-btn">Edit</button>
                                      <button type="submit" class="btn btn-success save-btn" onclick="return confirm('Do you want to save changes?')" disabled>Save Changes</button>
                                  {% endif %}



                              {% endif %}
                                {% endif %}
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-6" id="Remarks_div">
    <div class="card shadow-sm rounded-3 p-3 mt-2 bg-light">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="card-title mb-3 text-primary">Remarks</h5>
            </div>
            <div class="col-sm-6 text-end">
                {% if data.status.name != 'InActive' %}
                {% if 'add_remark' in permission_names %}
                {% if is_support %}
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#centeredModal" id="{{data.id}}" {% if request.user.role.name == "Support" and data.status.name == 'Pending' %}hidden {% endif %}>
                    <i class="fas fa-plus"></i> Add Remarks
                </button>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered datatable" id="demo_remark_table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Remarks</th>
                        <th scope="col" class="text-center">Remark By</th>
                        <th scope="col" class="text-center">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for remark in data.demo_r_related.all %}
                    <tr>
                        <td class="text-center">{{ remark.remarks }}</td>
                        <td class="text-center">{{ remark.added_by }}</td>
                        <td class="text-center">{{ remark.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

                    </div>
                    <!-- end -->
        </div>
        </div>
        </div>
        <div id = 'sts_update_response'></div>
    <div class="row">
      <div id = 'delete_feature_div'></div>

      <div class="col-md-6">
    <div class="card shadow-sm rounded-3 p-3 mt-2 bg-light">
        <div class="row" id="Feature_div">
            <div class="col-sm-6">
                <h5 class="card-title mb-3 text-primary">Features</h5>
            </div>
            <div class="col-sm-6 text-end">
                {% if data.status.name != 'InActive' %}
                {% if 'add_feature' in permission_names %}
                {% if is_allowed %}
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addFeatureModal" id="{{data.id}}">
                    <i class="fas fa-plus"></i> Add Feature
                </button>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered datatable" id="poc_data_table_feature">
                <thead>
                    <tr>
                        <th scope="col">Feature</th>
                        <th scope="col">Timeline</th>
                        <!-- <th scope="col">Status</th> -->
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feature in data.demo_f_related.all %}
                    <tr>
                        <td>{{ feature.features_list }}</td>
                        <td>{{ feature.timeline }}</td>
                        <!-- <td>{{ feature.status }}</td> -->
                        <td>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-sm btn-primary new-btns m-2" data-toggle="tooltip" data-placement="top" title="View" id="fet_{{ feature.id }}" value="{{ feature.id }}">
                                    View Remarks
                                </button>
                                {% if "edit_feature" in permission_names and is_allowed %}
                                <button class="btn btn-sm btn-primary m-2" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit" id="{{ feature.id }}_update_feture" value="{{ feature.id }}" onclick="update_feature(this,'{{ feature.features_list }}','{{ feature.timeline|date:'Y-m-d' }}','{{ feature.status }}')" data-bs-target="#centeredModalupdatefeature">
                                    <i class="ri-edit-circle-fill" alt="update"></i>
                                </button>
                                {% endif %}
                                {% if request.user.role.name in permission_for_ADD_STATUS or is_support %}
                                <button class="btn btn-sm btn-primary m-2" data-bs-toggle="modal" value="{{ feature.id }}" onclick="update_sts(this)" data-bs-target="#centeredModalupdate" {% if request.user.role.name == "Support" and data.status.name == 'Pending' %}hidden {% endif %}>
                                    <i class="ri-file-add-line"></i>Remark
                                </button>
                                {% endif %}
                                {% if "delete_feature" in permission_names and is_allowed %}
                                <a class="btn btn-sm btn-danger delete-feature m-2" data-id="{{ feature.id }}" href="#">
                                    <i class="ri-delete-bin-line"></i>
                                </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

      <div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Feature Remarks Details</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        </div>
        <div class="card-content collapse show">
            <div id="featurestsdetatil" class="card-body card-dashboard">
                <span id="hide_sp">Click on view Remarks for specific feature</span>
                {% for feature in data.demo_f_related.all %}
                <div class="feature-container table-responsive" id="featurestsdetatil_{{feature.id}}" style="display: none;">
                    <h4>Feature - {{ feature.features_list }}</h4>
                    <table class="table table-striped table-hover table-bordered datatable" id="my-feature-table_{{ feature.id }}">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Added By</th>
                                <th>Added At</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dt in feature.demo_feature_related.all %}
                            <tr>
                                <td>{{ dt.status }}</td>
                                <td>{{ dt.added_by }}</td>
                                <td>{{ dt.created_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    </div>
    </section>


    <div class="modal fade" id="centeredModal" tabindex="-1" aria-labelledby="centeredModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form method="post" action="{% url 'add_demo_remarks' data.id %}">
            {% csrf_token %}
            <div class="modal-header bg-light border-bottom">
              <h5 class="modal-title" id="centeredModalLabel">Add Remarks</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-4 px-5">
              <div class="mb-3" >
                <!-- <label for="username" class="form-label">Username</label> -->
                <input type="hidden" class="form-control" value="{{request.user.email}}" name="username" id="username" readonly>
              </div>
              <div class="mb-3">
                <!-- <label for="row_remark_id" class="form-label">Row Remark ID</label> -->
                <input type="hidden" name="row_remark_id" value="{{data.id}}" id="row_remark_id" readonly>
              </div>
              <div class="mb-3" id="Remark-repeater">
                <!-- <label for="Remark-count" class="form-label">Number of Remarks</label> -->
                <input type="hidden" id="Remark_count" name="Remark_count" class="form-control-plaintext" readonly>
                <div id="repeater-group_remark" data-repeater-list="repeater-group">
                  <div class="mb-3" id="remark_1">
                    <input type="text" placeholder="Remark" class="form-control" id="example-Remark-input_1" name="remarks">
                    <span class="input-group-append">
                      <!-- <button class="btn btn-danger" type="button" id="remove_Remark_1" data-repeater-delete onclick="removeDiv(this)">
                        <i class="ft-x"></i>
                      </button> -->
                    </span>
                  </div>
                </div>
                <!-- <button type="button" id="add_new_remark" data-repeater-create class="btn btn-primary">
                  <i class="ft-plus"></i> Add new Remark
                </button> -->
              </div>
            </div>
            <div class="modal-footer py-3 px-5">
              <div class="d-flex justify-content-end">
                <button type="reset" class="btn btn-secondary me-2">Reset</button>
                <button type="submit" onclick="localStorage.setItem('typer', 'remark_added'); console.log('Value added to Local Storage!')" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/ Zero configuration table -->

    <div class="modal fade" id="centeredModalFeture" tabindex="-1" aria-labelledby="centeredModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="centeredModalLabel2"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id = 'FetureCentered'>
            </div>
            <div class="modal-footer">
                <div class="form-actions col-12 mb-2">
                    <div class="text-right">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->

      <div class="modal fade" id="centeredModalupdate" tabindex="-1" aria-labelledby="centeredModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form>
                {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="centeredModalLabel3"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="form-group col-md-12 mb-2">
              <input type="hidden" class="form-control" id='feture_id' name="feture_id">
            <input type="hidden" class="form-control"  id='sts_id' name="sts_id">
            <input type="hidden" class="form-control" value="{{data.id}}" id = 'demo_id' name="demo_id">
            <div class="modal-body" id = 'FeturestsCenteredupdate'>
                <input type="text" class="form-control" placeholder="Status" class="form-control" id="sts" name="sts">
            </div>
            </div>
            <div class="modal-footer">
                <div class="form-actions col-12 mb-2">
                    <div class="text-right">
                        <button type="button" id="update_status_feature" class="btn btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
                    <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="centeredModalupdatefeature" tabindex="-1" aria-labelledby="centeredModalLabel4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form>
              {% csrf_token %}
              <div class="modal-header bg-light border-bottom">
                <h5 class="modal-title" id="centeredModalLabel4">Update Feature</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body py-4 px-5">
                <input type="hidden" id='feature_ids' name="feature_ids">
                <input type="hidden" value="{{data.id}}" id = 'demo_ids' name="demo_ids">
                <div class="form-group mb-3">
                  <label for="Feature_name" class="form-label">Feature Name</label>
                  <input type="text" class="form-control" id="Feature_name" name="Feature_name" placeholder="Enter Feature Name">
                </div>
                <div class="form-group mb-3">
                  <label for="Feature_timeline" class="form-label">Feature Timeline</label>
                  <input type="date" class="form-control" id="Feature_timeline" min="{% now 'Y-m-d' %}" max="{{ data.Timeline|date:'Y-m-d' }}" name="Feature_timeline">
                </div>
                <div class="form-group mb-3">
                  <label for="Feature_sts" class="form-label">Feature Status</label>
                  <select name="Feature_sts" id="Feature_sts" class="form-control">
                                              <option value="Active" selected>Active</option>
                                              <option value="InActive" >InActive</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer py-3 px-5">
                <div class="d-flex justify-content-end">
                  <button type="reset" class="btn btn-secondary me-2">Reset</button>
                  <button type="button" id="update_data_feature" class="btn btn-primary">Update Feature</button>
                </div>
              </div>
              <div id="feature_update_response"></div>
            </form>
          </div>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->

    <div class="modal fade" id="addFeatureModal" tabindex="-1" aria-labelledby="addFeatureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="post" action="{% url 'add_demo_feature' data.id %}">  {% csrf_token %}
        <div class="modal-header bg-light border-bottom">
          <h5 class="modal-title" id="addFeatureModalLabel">Add Feature</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-4 px-5">
          <div class="mb-3">
      <div class="col-md-12">
        <div class="fmb-3 features-repeater" id="features-repeater">
          <input type="hidden" id="feature_count" name="feature_count">
          <div id="repeater-group_feature" data-repeater-list="repeater-group">
            <div class="input-group mb-1" id="feture_1">
              <input type="hidden" name="Feature_ids" id="Feature_ids_1" value="1">
              <div class='form-floating'>
              <input type="text" placeholder="Features" class="form-control me-1 " name="features_1" id="example-Features-input_1">
              <label for="example-Features-input_1" class="col-form-label">Feature</label>
            </div>
              <div class='form-floating'>
                <input type="date" class="form-control ms-1" id="timeline_1" min="{% now 'Y-m-d' %}" max="{{ data.Timeline|date:'Y-m-d' }}" name="timeline_1">
                <label for="timeline_1" class="col-form-label"> Feture Timeline </label>
              </div>
              <span class="input-group-append ms-2" id="button-addon_1">
                <button class="btn btn-danger mt-2" type="button" id="remove_feture_1" data-repeater-delete onclick="removeDiv(this)">
                  <i class="ri-delete-bin-6-line"></i>
                </button>
              </span>
            </div>
          </div>
          <button type="button" id="add_new_feature" data-repeater-create class="btn btn-primary mt-2">
            <i class=" ri-add-line"></i> Add new Feature
          </button>
        </div>
        </div>
      </div>
    </div>
  <div class="modal-footer py-3 px-5">
    <div class="d-flex justify-content-end">
      <button type="reset" class="btn btn-secondary me-2">Reset</button>
      <button type="submit" class="btn btn-primary">Add Feature</button>
    </div>
  </div>
</form>
</div>
</div>
</div>
      <div class="modal fade" id="centeredModalsts" tabindex="-1" aria-labelledby="centeredModalstsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="centeredModalstsLabel">Add Reason For Rejection</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form method="post" action="{% url 'save_reject_desc' %}">
            {% csrf_token %}
              <div class="form-group col-md-12 mb-2">
                <input type="hidden" name="row__id" id="row__id">
                  <input type="hidden" name="row__type" id="row__type" value="DEMO">
              </div>
              <div class="form-group col-12 mb-2 ">

                      <div class="input-group mb-1" id = "desc">
                          <textarea placeholder="Add Reason" class="form-control" id="example-reason" name="reason" required></textarea>
                      </div>
              </div>
        </div>
        <div class="modal-footer">
            <div class="form-actions col-12 mb-2">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
                    <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>

        <!-- Modal -->
<div class="modal fade center" id="documentModal" tabindex="-1" aria-labelledby="documentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentModalLabel">Uploaded Documents</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered datatable">
                        <thead>
                            <tr>
                                <th>Sr. no.</th>
                                <th>Document Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="documentList">
                            {% for document in data.documents.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ document.filename }}</td>
                                <td style="display: flex; gap: 10px; justify-content: center;">
    <a href="{{ document.file.url }}" class="btn btn-primary" target="_blank" role="button" style="flex: 1; min-width: 100px;">Download</a>
    {% if request.user == document.added_by %}
    <a href="#" onclick="return confirmDelete('{% url 'demodocument_delete' document.id %}')" class="btn btn-danger" data-document-id="{{ document.id }}" style="flex: 1; min-width: 100px; margin-left: 10px;">Delete</a>
    {% endif %}
</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if not data.documents.all %}
                <div class="alert alert-info" role="alert">
                    No documents uploaded.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>




</div>
</div>
</div>

    {% endblock %}

    {% block js %}
<script>
  $(document).ready(function() {
    $('.delete-feature').click(function(event) {
    event.preventDefault(); // Prevent default form submission
    const delete_feature_div = document.getElementById('delete_feature_div');
    var featureId = $(this).data('id'); // Get feature ID from data attribute
    if (confirm('Are you sure you want to delete this?')) {
    $.ajax({
      url: "{% url 'delete_feature' %}", // Use URL template tag
      type: 'POST', // Use POST for delete requests
      data: {
        id: featureId,
        slug: 'demo',
        'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      dataType: 'json', // Expect a JSON response
      success: function(data) {
        if (data.success) {
          delete_feature_div.innerHTML = data.message
          localStorage.setItem('typer', "feture_state");
          location.reload();

        } else {
          delete_feature_div.innerHTML = data.message
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.error('Delete feature failed:', textStatus, errorThrown);
        delete_feature_div.innerHTML = data.message
      }
    });
    }
  });
});
    </script>
    <script>
      const buttons = document.querySelectorAll('.new-btns'); // Assuming your buttons have this class
  function hideAllTables() {
    // Select all feature containers
    const featureContainers = document.querySelectorAll('.feature-container');
    for (const container of featureContainers) {
      container.style.display = 'none'; // Hide all containers initially
    }
  }

buttons.forEach(button => {
  button.addEventListener('click', async function (event) {
    const clickedButton = event.target;
    const featureId = clickedButton.value; // Assuming button value represents feature ID
    // Hide all tables first
    hideAllTables();
    // Show the relevant table container based on button value (feature ID)
    const tableToShow = document.getElementById(`featurestsdetatil_${featureId}`);
    const msgspm = document.getElementById(`hide_sp`);
    if (tableToShow) {
      tableToShow.style.display = ''; // Unhide the specific container
      msgspm.style.display = 'none';
    }
    scrollToElement(`featurestsdetatil_${featureId}`);
  });
});
$(document).ready(function() {
$('#update_data_feature').click(function() {
        id = $('#feature_ids').val();
        Feature_name = $('#Feature_name').val();
        Feature_timeline = $('#Feature_timeline').val();
        Feature_sts = $('#Feature_sts').val();
        if (confirm('Are you sure you want to update this feature?')) {
        $.ajax
        ({
        url: "{% url 'update_feature_detail_demo'  %}",
        data: {"id": id, "status":  Feature_sts,"Feature_timeline":Feature_timeline,"Feature_name":Feature_name,"csrfmiddlewaretoken": '{{ csrf_token }}',"username": '{{request.user.email}}' },
        type: 'POST',
        success: function(result)
        {
          location.reload();
        },
        error: function(jqXHR, textStatus, error) {
          location.reload();
        }
        });
        }

      });
$('#update_status_feature').click(function() {
sts_id = $("#sts_id").val();
status = $("#sts").val();
demo_id = $("#demo_id").val();
sts_id_div = `#fet_${sts_id}`;
$.ajax({
    url: "{% url 'demo_update_sts' data.id %}",
    data: {
        "sts_id": sts_id,
        "status": status,
        "demo_id": demo_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        "username": '{{ request.user.email }}'
    },
    type: 'POST',
    success: function(result) {
      localStorage.setItem('myData', sts_id);
      localStorage.setItem('typer', "sts_add");
      window.location.reload();
        $('#centeredModalupdate').modal('hide');  // Hide modal dialog
        $('.modal-backdrop').remove();             // Remove backdrop elements
        // $('#sts_update_response').html('Status updated successfully!');  // Show success message

    },
    error: function(jqXHR, textStatus, error) {
        $('#sts_update_response').html(error);
        setTimeout(function() {
            $('#sts_update_response').html('');
        }, 5000);
    }
});
});
const last_action = localStorage.getItem('typer');
      console.log('last_action', last_action);
      if (last_action == 'sts_add'){
        const retrievedData = localStorage.getItem('myData');
      console.log(retrievedData);
      $(`${retrievedData}`).triggerHandler("click");
      const tableToShow = document.getElementById(`featurestsdetatil_${retrievedData}`);
      const msgspm = document.getElementById(`hide_sp`);
      if (tableToShow && retrievedData) {
        tableToShow.style.display = ''; // Unhide the specific container
        msgspm.style.display = 'none';
      scrollToElement(`featurestsdetatil_${retrievedData}`);
      }
      }
    });

function scrollToElement(id) {
  const element = document.getElementById(id);
  element.scrollIntoView();
}


    function update_feature(button, name, timeline, status){
    document.getElementById('feature_ids').value = button.value;
    document.getElementById('Feature_name').value = name;
    document.getElementById('Feature_timeline').value = timeline;
    document.getElementById('Feature_sts').value = status;

    }


    function update_sts(button){
    document.getElementById('sts_id').value = button.value;
    }

    function display(button_, centeredModalLabel2_val){
        // document.getElementById('FetureCentered').value = button_
        // alert(button_.value);
        document.getElementById("FetureCentered").innerHTML = button_.value;

        document.getElementById("centeredModalLabel2").innerHTML = centeredModalLabel2_val;
        // document.getElementById('row_remark_id').value  = button_
    }
    function removeDiv(FeatureDiv) {
          const delDiv = FeatureDiv.parentNode.parentNode;
          delDiv.parentNode.removeChild(delDiv);
    }

    var Remark_count = 1
    document.getElementById('Remark_count').value = Remark_count;
   </script>

<script>
$(document).ready(function() {
  // Enable editing on click of "Edit" button
  $('.edit-btn').click(function() {
    $(this).prop('disabled', true); // Disable "Edit" button on click
    {% if request.user.role.name == 'Sales' and data.status.name != 'Approved' %}
    $('#Timeline_date_edit').prop('disabled', false); // Enable all input fields
    $('#uploaded_file').prop('disabled', false);
    {% elif request.user.role.name == 'Sales' and data.status.name == 'Approved' %}
    $('#uploaded_file').prop('disabled', false);
    {% elif request.user.role.name == 'Approval'  %}
    $('#status_edit').prop('disabled', false);
    $('#assign_edit').prop('disabled', false);
    $('#kt_given').prop('disabled', false);
    //$('#Timeline_date_edit').prop('disabled', false);
    $('#uploaded_file').prop('disabled', false);
    {% elif request.user.role.name == 'Admin' %}
    $('.form-control').prop('disabled', false);
    {% endif %}
    $('.save-btn').prop('disabled', false); // Enable "Save" button

  });
});


</script>

<script>
  var Features_count = 1
  document.getElementById('feature_count').value = Features_count;
  function removeDiv(FeatureDiv) {
            const delDiv = FeatureDiv.parentNode.parentNode;
            delDiv.parentNode.removeChild(delDiv);
      }
  document.getElementById("add_new_feature").addEventListener("click", function () {
    Features_count++;
    document.getElementById('feature_count').value = Features_count;
    var newFeatureDiv = document.createElement("div");
    newFeatureDiv.className = "input-group mb-1";
    newFeatureDiv.id = `feture_${Features_count}`;
    newFeatureDiv.innerHTML = `<input type="hidden" name="Feature_ids" id="Feature_ids_${Features_count}" value="${Features_count}">
                          <div class="form-floating">
                          <input type="text" placeholder="Features" class="form-control me-1"
                            id="example-Features-input_${Features_count}" name="features_${Features_count}">
                            <label for="example-Features-input_${Features_count}" class="col-form-label">Feature</label></div>
                            <div class="form-floating">
                            <input type="date" class="form-control ms-1" id="timeline_${Features_count}" min="{% now 'Y-m-d' %}" max="{{ data.Timeline|date:'Y-m-d' }}" name="timeline_${Features_count}">
                            <label for="timeline_${Features_count}" class="col-form-label">Feture Timeline </label>
                            </div>
                            <span class="input-group-append ms-2"
                            id="button-addon_${Features_count}"><button class="btn btn-danger mt-2" type="button"
                            id = "remove_feture_${Features_count}" data-repeater-delete onclick="removeDiv(this)"><i class="ri-delete-bin-6-line"></i></button>
                             </span>`;
    document.getElementById("repeater-group_feature").appendChild(newFeatureDiv);
    });
  var Remark_count = 1
  document.getElementById('Remark_count').value = Remark_count;
  </script>

<script>
   function set_id_for(button_){
        document.getElementById('row__id').value  = button_
    }

function handleStatusChange(selectedValue) {
  if (selectedValue === 'Rejected') {
     const modal = document.getElementById('centeredModalsts');
    const modalInstance = new bootstrap.Modal(modal);
    modalInstance.show();  // Display the modal
    set_id_for({{data.id}});

  }
}
</script>

<script>
      function confirmDelete(url) {
        if (confirm('Are you sure you want to delete?')) {
          window.location.href = url; // Redirect to delete URL if confirmed
        }
      }
      </script>

{% endblock %}