{% extends "poc_demo/base.html" %}
{% block poc_content %}  
{% load static %}
          {% if messages %}
          <div class="messages text-center">

<!--
            {% for message in messages %}
            {{message}}
            {% endfor %} -->

          {% for message in messages %}
          <h4 {% if message.extra_tags %} class="alert alert-{{ message.extra_tags }}"{% else %}
          class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</h4>
          {% endfor %}
          </div>
          {% endif %}
<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
    <div class="content-body">
        <!-- Zero configuration table -->
    <section id="configuration">
        <div class="row">
            
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">POC view</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                        
                        <div class="col-md-2 ms-auto mt-2" style="margin-left: 100px;">
                             <div class="text-end">
                    <a href="{% url 'add_demo' %}" class="btn btn-primary btn-sm m-2">Add Demo</a>
                </div>
                            <form method="get" id="filter-form" class="form-inline">
                            <input type="text" name="search" placeholder="Search.." id="search" class="form-control ms-auto" value="{{ search_query }}">
                          </form></div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table id = 'my_poc_view' class=" table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Product_name</th>
                                        <th> Detail </th>
                                        <th>Requested_date</th>
                                        <th>Timeline</th>
                                        <th>Status</th>
                                        <th>added_by</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in page.object_list %}
                                    <tr>
                                        <td>{{i.Customer_name}}</td>
                                        <td>{{i.Product_name}}</td>
                                        <td><a href="{% url 'view_demo_detail' i.id %}" class="btn btn-primary" value="">View</button></td>
                                        <td>{{i.Requested_date}}</td>
                                        <td>{{i.Timeline}}</td>
                                        <td>{{i.status}}</td>
                                        <td>{{i.added_by}}</td>
                                    </tr>
                                    {% endfor %}
                                
                                    </tbody>
                    
                            </table>
                            <div class="paginator" align='center'>
                                <span style="color:black">Page {{page.number}} of {{page.paginator.num_pages}}</span>
                                <div class="pages">                  
                                {% if page.has_previous %}
                                <a href="?page={{page.previous_page_number}}">Previous</a>
                                {% endif %}
                                {% if page.has_next %}
                                <a href="?page={{page.next_page_number}}">Next</a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


  <div class="modal fade" id="centeredModal" tabindex="-1" aria-labelledby="centeredModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="centeredModalLabel">Add Remarks</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form method="post">
            {% csrf_token %}
              <div class="form-group col-md-12 mb-2">
                <input type="hidden" class="form-control" value={{request.user.email}} name="username">
                <input type="hidden" name="row_remark_id" id="row_remark_id">
              </div>
              <div class="form-group col-12 mb-2 Remark-repeater" id = 'Remark-repeater'>
                <input type="hidden" id="Remark_count" name="Remark_count">
                  <div id = "repeater-group_remark" data-repeater-list="repeater-group">
                      <div class="input-group mb-1" id = "remark_1">
                          <input type="text" placeholder="Remark" class="form-control" id="example-Remark-input_1" name="remarks">
                          <!-- <span class="input-group-append" id="button-Remark_addon_1">
                              <button class="btn btn-danger" type="button" id = "remove_Remark_1" data-repeater-delete onclick="removeDiv(this)"><i class="ft-x"></i></button>
                          </span> -->
                      </div>
                  </div>
                  <!-- <button type="button" id = 'add_new_remark' data-repeater-create class="btn btn-primary">
                      <i class="ft-plus"></i> Add new Remark
                  </button> -->
              </div>
        </div>
        <div class="modal-footer">
            <div class="form-actions col-12 mb-2">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
                    <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
          
        </div>
      </div>
    </div>
  </div>

    <!--/ Zero configuration table -->

    <div class="modal fade" id="centeredModalFeture" tabindex="-1" aria-labelledby="centeredModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="centeredModalLabel2"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id = 'FetureCentered'>
            </div>
            <div class="modal-footer">
                <div class="form-actions col-12 mb-2">
                    <div class="text-right">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
  
            </div>
          </div>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->

      <div class="modal fade" id="centeredModalupdate" tabindex="-1" aria-labelledby="centeredModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form>
                {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="centeredModalLabel3"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <input type="hidden" id='sts_id' name="sts_id"> 
            <div class="modal-body" id = 'FeturestsCenteredupdate'>
                <input type="text" placeholder="Status" class="form-control" id="sts" name="sts">
            </div>
            <div class="modal-footer">
                <div class="form-actions col-12 mb-2">
                    <div class="text-right">
                        <button type="button" id="update_status_feature" class="btn btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
                    <button type="reset" class="btn btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            </form>
            <div id = 'sts_update_response'></div>
          </div>
        </div>
      </div>    
      <!-- ----------------------------------------------------------------------- -->
</div>
</div>
</div>

    {% endblock %}
    {% block js %}
    <!-- <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script> -->

   <script>
       localStorage.setItem('typer', "new");

    function set_id(button_){
        document.getElementById('row_remark_id').value  = button_
    }

    function update_sts(button){
    document.getElementById('sts_id').value = button.value;
    }

    function display(button_, centeredModalLabel2_val){
        // document.getElementById('FetureCentered').value = button_
        // alert(button_.value);
        document.getElementById("FetureCentered").innerHTML = button_.value;

        document.getElementById("centeredModalLabel2").innerHTML = centeredModalLabel2_val; 
        // document.getElementById('row_remark_id').value  = button_
    }
    
    function removeDiv(FeatureDiv) {
          const delDiv = FeatureDiv.parentNode.parentNode;
          delDiv.parentNode.removeChild(delDiv);
    }

    var Remark_count = 1
    document.getElementById('Remark_count').value = Remark_count;
   </script>



{% endblock %}